/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


process {

    withName: SELECT_BEST_ALPHA_FOR_LASSO {
        publishDir = [
            path: { "${params.outdir}/select_best_alpha_for_lasso" },
            mode: 'copy',
            pattern: "*.parquet"
        ]
    }

    withName: LASSO_FEATURE_SELECTION {
        publishDir = [
            path: { "${params.outdir}/lasso_feature_selection" },
            mode: 'copy',
            pattern: "*.csv"
        ]
    }

    withName: ROBUSTNESS_FEATURE_SELECTION {
        publishDir = [
            path: { "${params.outdir}/robustness_feature_selection" },
            mode: 'copy',
            pattern: "*.csv"
        ]
    }

    withName: AGGREGATE_MAES {
        publishDir = [
            path: { "${params.outdir}/aggregate_maes" },
            mode: 'copy',
            pattern: "*.csv"
        ]
    }

}
